<ion-view view-title="Account">
  <ion-content>
    <div class="item item-divider">
      Push Notifications
    </div>
    <ion-toggle  ng-model="settings.enablePush">
        Enable Push Notifications
    </ion-toggle>
    <div class="item range range-positive">
      <i class="ion-email"></i>
      <input type="range" name="updateInterval" min="5" max="60" value="30" ng-model="settings.updateInt" ng-disabled="!settings.enablePush" ng-if="settings.enablePush">
      <input type="range" value="0"ng-if="!settings.enablePush" ng-disabled="!settings.enablePush">
      <i class="ion-email-unread"></i>
    </div>
    <div class="item" ng-model="settings.updateInt" ng-if="settings.enablePush">
      Check for updates every : {{settings.updateInt}} minutes
    </div>
    <div class="item" ng-model="settings" ng-if="!settings.enablePush">
      Push Notifications Disabled
    </div>

    <div class="item item-divider">
      Customization
    </div>

    <label class="item item-input">
      <input type="text" placeholder="Nickname" ng-model="settings.nickname"></input>
    </label>

    <div class="item">
      Birthday
      <ionic-datepicker input-obj="datepickerObject">
        <button class="button button-block button-positive"> {{placeholderBirthday}}</button>
      </ionic-datepicker>
    </div>

    <div class="item">
      <button class="button button-assertive">Reset To Factory Settings</button>
    </div>

    <div class="item item-divider">
      About
    </div>
    </ion-list>
  </ion-content>
</ion-view>
