<style>
.iframe-issue {
  -webkit-overflow-scrolling: touch !important;
}

ion-content div.scroll{
height: 100%; }

.webPage{
width: 100%;
height: 100%;}

</style>

<ion-view view-title="Changelog">
  <ion-content class="iframe-issue">
    <iframe class= 'webPage' name= "eventsPage" src="http://alpha-dev.github.io/" style="overflow-x: hidden;">
 </iframe>
  </ion-content>
</ion-view>


<div class="item item-divider">
  <b>Push Notifications</b>
</div>
<ion-toggle  ng-model="settings.enablePush">
    Enable Push Notifications
</ion-toggle>
<div class="item range range-positive">
  <i class="ion-email"></i>
  <input type="range" name="updateInterval" min="5" max="60" value="30" ng-model="settings.updateInt" ng-disabled="!settings.enablePush" ng-if="settings.enablePush">
  <input type="range" value="0"ng-if="!settings.enablePush" ng-disabled="!settings.enablePush">
  <i class="ion-email-unread"></i>
</div>
<div class="item" ng-model="settings.updateInt" ng-if="settings.enablePush">
  Check for updates every : {{settings.updateInt}} minutes
</div>
<div class="item" ng-model="settings" ng-if="!settings.enablePush">
  Push Notifications Disabled
</div>
