<ion-view view-title="Credits">
  <ion-content class="padding">
<ionic-list>
    <div class="item item-avatar">
      <img src="https://avatars3.githubusercontent.com/u/15527150?v=3&s=400">
      <h2>Vidush K.</h2>
      <p>Our lead artist, worked on the logo, icon, video, and other miscellaneous things</p>
    </div>

    <div class="item item-avatar">
      <img src="https://avatars1.githubusercontent.com/u/12550372?v=3&s=460">
      <h2>Reed K.</h2>
      <p>Progammer, implemented the Monthly & Daily view and all of its functionality</p>
    </div>

    <div class="item item-avatar">
      <img src="https://avatars1.githubusercontent.com/u/6308253?v=3&s=400">
      <h2>Andros Y.</h2>
      <p>Progammer, developed a majority of the scheduler. Worked on the app by implementing groups and other miscellaneous items</p>
    </div>

    <div class="item item-avatar">
      <img src="https://avatars3.githubusercontent.com/u/10981787?v=3&s=400">
      <h2>Brandon L.</h2>
      <p>Beginning UI/UX developer. Developed some of the UI popups on the scheduler.</p>
    </div>


  </ion-list>
  </ion-content>
</ion-view>
