<ion-view view-title="Settings">
  <ion-content>
    <div class="item item-divider">
      <b>Push Notifications</b>
    </div>
    <ion-toggle  ng-model="settings.enablePush">
        Enable Push Notifications
    </ion-toggle>
    <div class="item range range-positive">
      <i class="ion-email"></i>
      <input type="range" name="updateInterval" min="5" max="60" value="30" ng-model="settings.updateInt" ng-disabled="!settings.enablePush" ng-if="settings.enablePush">
      <input type="range" value="0"ng-if="!settings.enablePush" ng-disabled="!settings.enablePush">
      <i class="ion-email-unread"></i>
    </div>
    <div class="item" ng-model="settings.updateInt" ng-if="settings.enablePush">
      Check for updates every : {{settings.updateInt}} minutes
    </div>
    <div class="item" ng-model="settings" ng-if="!settings.enablePush">
      Push Notifications Disabled
    </div>

    <div class="item item-divider">
      <b>Customization</b>
    </div>

    <label class="item item-input">
      <input type="text" placeholder="Nickname" ng-model="settings.nickname"></input>
    </label>

      <ionic-datepicker input-obj="datepickerObject" class="item reduce-pad">
        <button class="button button-block button-positive" style="margin: 0px;"> {{placeholderBirthday}}</button>
      </ionic-datepicker>

    <div class="item reduce-pad">
      <button class="button button-assertive" ng-click="showResetConfirm()" style="margin: 0px;">Reset To Factory Settings</button>
    </div>

    <div class="item item-divider">
      <b>About</b>
    </div>

    <ion-item class="item" href="#/tab/chats/{{chat.id}}">
      <h>Recent Changelog</h>
      <p>Version {{BuildString}}</p>
    </ion-item>
    <ion-item class="item" href="http://alpha-dev.github.io">
      <h>About Alpha-Dev Studios</h>
      <p>The team behind the Linkus & many others</p>
    </ion-item>
    <ion-item class="item" href="http://alpha-dev.github.io">
      <h>Support Us</h>
      <p>Help us out, maybe even buy us some lunch!</p>
    </ion-item>
    <ion-item class="item" href="http://alpha-dev.github.io">
      <h>Credits</h>
      <p>Individuals in the Linkus team</p>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
