<ion-view view-title="Settings">
  <ion-content>
    

    <div class="item item-divider">
      <b>Customization</b>
    </div>

    <label class="item item-input">
      <input type="text" placeholder="Nickname" ng-model="settings.nickname"></input>
    </label>

      <ionic-datepicker input-obj="datepickerObject" class="item reduce-pad">
        <button class="button button-block button-positive" style="margin: 0px;"> {{placeholderBirthday}}</button>
      </ionic-datepicker>

    <div class="item reduce-pad">
      <button class="button button-assertive" ng-click="showResetConfirm()" style="margin: 0px;">Reset To Factory Settings</button>
    </div>

    <div class="item item-divider">
      <b>About</b>
    </div>

    <ion-item class="item" href="#/changeLog">
      <ion-nav-view></ion-nav-view>
      <h>Recent Changelog</h>
      <p>Version {{BuildString}}</p>
    </ion-item>
    <ion-item class="item" href="#" onclick="window.open('http://alpha-dev.github.io', '_system', 'location=yes'); return false;">
      <h>About Alpha-Dev Studios</h>
      <p>The team behind the Linkus & many others</p>
    </ion-item>
    <ion-item class="item" href="#" onclick="window.open('http://alpha-dev.github.io/donate.html', '_system', 'location=yes'); return false;">
      <h>Support Us</h>
      <p>Help us out, maybe even buy us some lunch!</p>
    </ion-item>
    <ion-item class="item" href="#/donate">
      <h>Credits</h>
      <p>Individuals in the Linkus team</p>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
